# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.production.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.rnd

# IDE
.idea
.vscode
*.swp
*.swo
*.swn
*.DS_Store

# NPM
npm-debug.log
yarn-error.log
pnpm-debug.log
pnpm-error.log
lerna-debug.log

# Build files
dist/
build/
*.pem

# OS
.DS_Store
Thumbs.db
