node_modules/
.expo/
.expo-shared/
dist/
build/
.env
.env.local
.env.*.local
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.env.development
.env.production
.env.test
coverage/
.idea/
*.log
yarn-error.log
.vscode/
.gradle/
.android/
android/.gradle
android/build
android/app/build
android/app/release
ios/Pods/
ios/Podfile.lock
.watchmanconfig
Gemfile.lock
